body {

}

#content > .row .loader {
  display: none;

  background: rgba(200, 200, 200, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#content > .row .loader.loading {
  display: block;
}

#content > .row .loader.loading .progress {
  position: absolute;
  margin-top: -11px;
  top: 50%;
  width: 60%;
  left: 50%;
  margin-left: -30%;
}

.dropzone {
  position: relative;
}

.dropzone > div {
  border: 2px dashed #888888;
}
.dropzoneActive > div  {
  background-color: #bac8ea;
}

.dropzone.minimized {
  font-size: 22px;
}

.dropzone .progress img.grayFace {
  position: absolute;
  left: 50%;
  top: 0;
}
